@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

html, body {
  font-family: 'Roboto', sans-serif;
  color: #dbacff;
  background: #290333;
  
  font-size: 1.6rem;
}

.card ul li  {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li + li {
  padding-top: 10px;
  border-top: 1px solid #323238;
}